<a href="https://colab.research.google.com/github/MaggieWelch/labs/blob/main/MWHedonicPricing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Clean the data and perform some EDA and visualization to get to know the data set.

In [28]:
import pandas as pd
url ='https://raw.githubusercontent.com/DS3001/labs/refs/heads/main/04_hedonic_pricing/airbnb_hw.csv'
df = pd.read_csv(url)
df.head()

,Host Id,Host Since,Name,Neighbourhood,Property Type,Review Scores Rating (bin),Room Type,Zipcode,Beds,Number of Records,Number Of Reviews,Price,Review Scores Rating
0,5162530,NaN,1 Bedroom in Prime Williamsburg,Brooklyn,Apartment,NaN,Entire home/apt,11249.0,1.0,1,0,145,NaN
1,33134899,NaN,"Sunny, Private room in Bushwick",Brooklyn,Apartment,NaN,Private room,11206.0,1.0,1,1,37,NaN
2,39608626,NaN,Sunny Room in Harlem,Manhattan,Apartment,NaN,Private room,10032.0,1.0,1,1,28,NaN
3,500,6/26/2008,Gorgeous 1 BR with Private Balcony,Manhattan,Apartment,NaN,Entire home/apt,10024.0,3.0,1,0,199,NaN
4,500,6/26/2008,Trendy Times Square Loft,Manhattan,Apartment,95.0,Private room,10036.0,3.0,1,39,549,96.0

In [29]:
#dropping columns that are unnessesary to the price, such as host information and ratings
columns_to_drop = ['Host Id', 'Host Since', 'Review Scores Rating (bin)', 'Number Of Reviews', 'Review Scores Rating', 'Number of Records']
df = df.drop(columns=columns_to_drop)
df.head()
print(df.columns)

Index(['Name', 'Neighbourhood ', 'Property Type', 'Room Type', 'Zipcode',
       'Beds', 'Price'],
      dtype='object')

In [30]:
#removing unnecessary space after Neighbourhood and renaming it to Neighborhood
df.rename(columns={'Neighbourhood ': 'Neighborhood'}, inplace=True)
print(df.columns)

Index(['Name', 'Neighborhood', 'Property Type', 'Room Type', 'Zipcode', 'Beds',
       'Price'],
      dtype='object')

In [31]:
#ensuring there are no NA inputs for price
print(df['Price'].isna().sum())

0

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

# Box plot of price by property type and neighborhood
plt.figure(figsize=(12, 6))
sns.boxplot(x='Property Type', y='Price', hue='Neighborhood', data=df)
plt.title("Distribution of Prices by Property Type and Neighborhood")
plt.xlabel("Property Type")
plt.ylabel("Price")
plt.xticks(rotation=45)
plt.legend(title="Neighborhood", bbox_to_anchor=(1.05, 1), loc='upper left')  # Move legend outside the plot
plt.show()

Transform your variables --- particularly categorical ones --- for use in your regression analysis.

Implement an ~80/~20 train-test split. Put the test data aside.

Build some simple linear models that include no transformations or interactions. Fit them, and determine their RMSE and R^2 on the both the training and test sets. Which of your models does the best?

Include transformations and interactions, and build a more complex model that reflects your ideas about how the features of the asset determine its value. Determine its RMSE and R^2 on the training and test sets. How does the more complex model your build compare to the simpler ones?

Summarize your results from 1 to 5. Have you learned anything about overfitting and underfitting, or model selection?